<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227020012859-2h1hmlg4gaoldas3pp8gkpmnir12opfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227020012859-2h1hmlg4gaoldas3pp8gkpmnir12opfk</string>
	<key>API_KEY</key>
	<string>AIzaSyAGe6uQaEyYiNULo1ArMLnJyk6FI8ZkAaU</string>
	<key>GCM_SENDER_ID</key>
	<string>227020012859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bytes-random.Snacktackular</string>
	<key>PROJECT_ID</key>
	<string>snacktackular-e8176</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktackular-e8176.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227020012859:ios:093c9a6ae21e32179c0b1e</string>
</dict>
</plist>